/*
RESET
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
COMMON
*/
body {
  height: 100vh;
}

.team-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
}
